*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

{
    $bordercolor: #0A0A0A;
}

body{
    background: #e7e7e7;
}

.codeView{
    width: 40%;
    border: 1px solid #002240;
    height: 94vh;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    overflow: hidden;
}


.pikachuWrapper{
    border: 1px solid #FED823;
    position: fixed;
    top: 20px;
    right: 33px;
    height: 94vh;
    width: 50%;
}
.container{
    width: 320px;
    height: 465px;
    margin: 36px auto;
    position: relative;
}
.lighting-left{
    position: absolute;
    left: -148px;
    top: 82px;
    width: 140px;
    transform: rotateZ(140deg);
    z-index: 1;
    display: none;
}
.lighting-right{
    position: absolute;
    right: -98px;
    top: 100px;
    width: 140px;
    transform: rotateZ(-14deg);
    z-index: 1;
    display: none;
}
.ear-right::before{
    /*content: '';*/
    display: block;
    width: 150%;
    height: 80%;
    /* background: rgb(35,24,21); */
    background: #fed823;
    position: absolute;
    bottom:-3px;
    left: -3px;
    border: 3px solid;
    border-radius: 0 80% 0 0;
}
.eye-right::before{
    /*content: '';*/
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 10px;
    height: 12px;
    background: white;
    border-radius: 50%;
}
.eye-right::after{
    /*content: '';*/
    display: block;
    position: absolute;
    top: -2px;
    right: 3px;
    width: 28px;
    height: 3px;
    background: #0A0A0A;
    transform: rotateZ(-28deg);
}
.mouth::before{
    /*content: '';*/
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
    width: 20px;
    height: 19px;
    border-bottom: 4px solid;
    border-right: 3px solid;
    border-bottom-right-radius: 90%;
}
.check-right{
    position: absolute;
    top: 91px;
    left: 97px;
    width: 46px;
    height: 46px;
    border: 3px solid;
    background: #e94e24;
    border-radius: 50%;
    display: none;
}
.pikachuBody{
    position: absolute;
    top: 283px;
    left: 46px;
    width: 163px;
    height: 153px;
    border-top-right-radius: 70px 140px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    display: none;
}
.pikachuBody::before{
    /*content: '';*/
    display: block;
    position: absolute;
    top: -8px;
    right: 18px;
    width: 40px;
    height: 40px;
    background:#fed823;
    border-right: 3px solid;
    transform: rotateZ(-8deg);
}
.pikachuBody::after{
    /*content: '';*/
    display: block;
    position: absolute;
    bottom: -3px;
    left: -20px;
    width: 73px;
    height: 103px;
    background: #fed823;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-radius: 90% 30% 0 80%;
}
.hand-left::before{
    /*content: '';*/
    display: block;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 40px;
    height: 12px;
    border-top: 2px solid;
    border-radius: 40%;
    transform: rotateZ(17deg);
}
.foot-left::before{
    /*content: '';*/
    display: block;
    position: absolute;
    left: -1px;
    bottom: 12px;
    width: 25px;
    height: 11px;
    border-top: 3px solid;
    border-radius: 50%;
    transform: rotateZ(-15deg);
}
.foot-left::after{
    /*content: '';*/
    display: block;
    position: absolute;
    bottom: 8px;
    width: 25px;
    height: 9px;
    border-top: 3px solid;
    /*border-radius: 40%;*/
    /*transform: rotateZ(-15deg);*/
}
.foot-right::before{
    /*content: '';*/
    display: block;
    position: absolute;
    bottom: 5px;
    right: 1px;
    width: 25px;
    height: 9px;
    border-top: 3px solid;
    border-radius: 40%;
    transform: rotateZ(15deg);
}
.foot-right::after{
    /*content: '';*/
    display: block;
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 25px;
    height: 11px;
    border-top: 3px solid;
    border-radius: 40%;
    transform: rotateZ(15deg);
}
.tail .part1{
    position: absolute;
    bottom: 18px;
    width: 60px;
    height: 19px;
    background: #983c0d;
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: rotateZ(-50deg);
    display: none;
}
.tail .part2{
    position: absolute;
    left: 9px;
    bottom: 49px;
    width: 52px;
    height: 20px;
    background: #983c0d;
    border-right: 2px solid;
    border-top: 2px solid #0A0A0A;
    transform: rotateZ(40deg);
    display: none;
}
.tail .part2::before{
    /*content: '';*/
    display: block;
    position: absolute;
    left: 15px;
    top: -1px;
    border-left: 9px solid #fed823;
    border-top: 5px solid #983c0d;
    border-bottom: 5px solid #983c0d;

}
.tail .part2::after{
    /*content: '';*/
    display: block;
    position: absolute;
    left: 14px;
    top: 8px;
    border-left: 9px solid #fed823;
    border-top: 5px solid #983c0d;
    border-bottom: 5px solid #983c0d;
}
.tail .part3{
    position: absolute;
    bottom: 78px;
    width: 70px;
    height: 27px;
    background: #fed823;
    border-top: 2px solid #0A0A0A;
    transform: rotateZ(-45deg);
    display: none;
}
.tail .part4{
    position: absolute;
    left: -10px;
    bottom: 105px;
    width: 80px;
    height: 37px;
    background: #fed823;
    border-top: 2px solid #0A0A0A;
    transform: rotateZ(45deg);
    display: none;
}
.tail .part5{
    position: absolute;
    bottom: 145px;
    left: -16px;
    width: 150px;
    height: 85px;
    background: #fed823;
    border-top: 3px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top-left-radius: 100% 30px;
    border-bottom-right-radius: 20% 10px;
    transform: rotateZ(-7deg);
    display: none;
}
@keyframes tailMove {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(15deg);
    }
}